#sk-yH86f-215 .nx-basicfieldeditor-item-label{
   display: inline;
}
.color {
    background-color: #e25346!important;
}
.green {
    background-color: #90EE90!important;
}
.pink {
    background-color: #FFB6C1!important;
}
